/**
 * $Id$
 */

/** DashboardPanel styles */
.dashboard .Header {
  font-family: Machine Bold, Helvetia, Arial, sans-serif;
  font-weight: bold;
}

.dashboard .Label {
  text-align: right;
}

.dashboard .Details {
  margin-top: 5px;
}

.dashboard .Pending {
  font-weight: bold;
}
