/**
 * $Id$
 */

/** ImageUtil styles */
.imageBox {
  width: 250px;
  height: 300px;
  margin: 10px 15px;
}

.miniImageBox {
  width: 125px;
  height: 150px;
  margin: 5px 5px;
}

.miniImageBox .gwt-Image {
  max-width: 125px;
  max-height: 150px;
}

/** CardView styles */
.cardView {
  width: 565px;
  height: 380px;
  border: 1px solid;
  padding: 5px;
  font-size: 15px;
}

.cardView .Title, .cardView .Position, .cardView .Categories, .cardView .Rarity {
  text-align: center;
}

.cardView .Title {
  font-size: 24px;
}

.cardView .Position, .cardView .Rarity {
  font-size: 14px;
}

.cardView .Image .gwt-Image {
  display: block;
}

.cardView .Descrip {
  margin: 10px 0px;
}

.cardView .FactsTitle {
  font-weight: bold;
}

.cardView .Facts ul {
  margin: 10px 0px;
  padding-left: 25px;
}

.cardView .When, .cardView .Giver, .cardView .Source {
  font-style: italic;
  margin: 10px 0px;
}

/** ThingCardView styles */
.thingCard {
  border: 1px solid;
  text-align: center;
}

.thingCard .Name, .thingCard .Rarity {
  font-weight: bold;
  margin-top: 4px;
}

.microCard .miniImageBox {
  width: 83px;
  height: 100px;
  margin: 5px auto;
}

.microCard .miniImageBox .gwt-Image {
  max-width: 83px;
  max-height: 100px;
}

/** HeaderPanel styles */
.header {
  width: 100%;
}

.header td {
  white-space: nowrap;
}

/** LandingPanel styles */
.landing {
  margin: 10px;
}

.landing .Title {
  font-size: 18px;
  font-weight: bold;
}

.landing .Text {
  margin: 5px 0px;
}

/** BrowsePanel styles */
.browse .Title {
  font-size: 16px;
  font-weight: bold;
}

.browse .Series {
  display: inline;
}

/** FeedPanel styles */

/** GridPanel styles */
.grid {
  width: 585px;
}

.grid table {
  width: 100%;
}

.grid table td {
  text-align: center;
}

.grid .Bold {
  font-weight: bold;
}

/** SeriesPopup styles */
.series {
  border: 1px solid;
  background: #FFFFFF;
  padding: 5px;
}

.series .Title {
  font-weight: bold;
}

/** CardPopup styles */
.card {
  background: #FFFFFF;
}

.card .Buttons {
  margin: 0px auto;
}

.card .cardView {
  margin-bottom: 5px;
}

/** GiftCardPopup styles */
.giftCard .Wishlist {
  font-weight: bold;
}
