/**
 * $Id$
 */

/** ImageUtil styles */
.imageBox {
  width: 250px;
  height: 300px;
  margin: 5px 15px;
}

.miniImageBox {
  width: 115px;
  height: 100px;
  margin: 5px 5px;
}

.miniImageBox .gwt-Image {
  max-width: 83px;
  max-height: 100px;
}

.miniImageBox .Shim {
  width: 83px;
  height: 100px;
}

.imageBox .gwt-Image, .miniImageBox .gwt-Image {
  display: block;
  border: 1px solid #442D17;
  margin: 0px auto;
}

/** CardView styles */
.cardView {
  background: url(images/info_card.png) no-repeat;
  width: 611px;
  height: 451px;
  font-size: 15px;
  padding: 2px 5px 6px 3px;
}

.cardViewTall {
  background: url(images/info_card_tall.png) no-repeat;
  height: 501px;
}

.cardView .Left {
  width: 282px;
  padding: 0px 8px 0px 13px;
}
.cardView .Right {
  width: 295px;
  padding-right: 5px;
}

.cardView .Header {
  font-size: 20px;
  height: 40px;
}

.cardView .Status {
  height: 30px;
}
.cardView .Buttons {
  height: 46px;
  vertical-align: top;
}

.cardView .Header, .cardView .Title, .cardView .Position, .cardView .Metrics, .cardView .Status {
  text-align: center;
}

.cardView .Title {
  height: 28px;
  width: 100%;
}
.cardView .NormalTitle {
  font-size: 24px;
}
.cardView .LongTitle {
  font-size: 20px;
}
.cardView .ReallyLongTitle {
  font-size: 16px;
}

.cardView .Categories {
  padding-top: 10px;
  width: 280px;
  font-weight: bold;
}
.cardView .NormalCategories {
  font-size: 15px;
}
.cardView .LongCategories {
  font-size: 13px;
}

.cardView .Position {
  font-size: 12px;
  height: 16px;
}
.cardView .Metrics {
  font-size: 14px;
  height: 18px;
}

.cardView .Info {
  margin: 10px 0px 10px 0px;
  width: 290px;
  height: 290px;
  overflow: auto;
  background: url(images/category/default.png) top center no-repeat;
}

.cardView .Animals {
  background: url(images/category/animals.png) top center no-repeat;
}

.cardView .FactsTitle {
  font-weight: bold;
  padding-top: 5px;
}

.cardView .Info ul {
  margin: 5px 0px;
  padding-left: 25px;
}

.cardView .When, .cardView .Giver, .cardView .Info {
  font-size: 15px;
}

.cardView .When, .cardView .Giver, .cardView .Source {
  font-style: italic;
}

/** ThingCardView styles */
.thingCard {
  text-align: center;
  width: 125px;
  height: 150px;
  position: relative;
  padding: 2px 5px 5px 2px;
}

.thingCardFront {
  background: url(images/card_front.png);
}

.thingCardBack {
  background: url(images/card_back.png);
}

.thingCard .Name {
  position: absolute;
  top: 0px;
  height: 17px;
  padding-top: 4px;
  margin: 0px 10px;
  width: 105px;
  z-index: 2;
}
.thingCard .NormalName {
  font-size: 14px;
}
.thingCard .LongName {
  font-size: 12px;
  line-height: 12px;
}

.thingCard .miniImageBox {
  position: absolute;
  top: 21px;
}

.thingCard .Rarity {
  position: absolute;
  top: 128px;
  left: 0px;
  width: 100%;
}

/** AddAppPanel styles */
.addApp {
  font-size: 18px;
  padding-bottom: 15px;
}

/** LandingPanel styles */
.landing {
  font-family: Times, Times New Roman, serif;
  background: url(images/page_news.png) no-repeat;
}

.landing .Title {
  font-size: 18px;
  font-family: Machine Bold, Helvetia, Arial, sans-serif;
  font-weight: bold;
}

.landing .Text {
  margin: 5px 0px;
  font-family: Trebuchet MS, sans-serif;
}

/** BrowsePanel styles */
.browse {
  font-size: 16px;
}

.browse .Title {
  font-weight: bold;
}

.browse .Complete {
  font-weight: bold;
}

.browse .Held {
  font-size: 14px;
  display: inline;
}

/** FeedPanel styles */
.feed {
  font-family: Trebuchet MS, sans-serif;
}

.feed .Item .Action {
  padding-top: 3px;
}

.feed .Item .When {
  font-style: italic;
}

/** GridPanel styles */
.grid {
  background: url(images/page_flip.png) no-repeat;
}

.grid .Info {
  margin: 0px auto;
}

.grid .Cards, .grid .Status {
  width: 555px;
  margin: 0px auto;
}

.grid .Bold {
  font-weight: bold;
}

.grid .PupBox {
  padding-left: 20px;
}

.grid .Powerups {
  background: url(images/powerup/button_up.png);
  width: 201px;
  height: 50px;
  margin-left: auto;
}
.grid .Powerups-up-hovering {
  background: url(images/powerup/button_over.png);
}

.powerPopup {
  z-index: 5;
}

.powerPopup .Top {
  background: url(images/powerup/menu_top.png);
  width: 201px;
  height: 49px;
}

.powerPopup .Items {
  background: url(images/powerup/item_up.png);
  font-family: Machine Bold, Helvetia, Arial, sans-serif;
  width: 201px;
  font-size: 12px;
}

.powerPopup .Icon {
  padding: 2px 5px 0px 25px;
}

.powerPopup .Item {
  padding-top: 2px;
  height: 38px;
}

.powerPopup .Disabled {
  color: #999999;
}

.powerPopup .Charges {
  padding-right: 30px;
}

.powerPopup .Bottom {
  background: url(images/powerup/menu_bottom.png);
  width: 201px;
  height: 19px;
}

/** SeriesPopup styles */
.series .Title {
  text-align: center;
  font-weight: bold;
}

/** CardPopup styles */
.card {
  background: none;
  border: none;
  padding: 0px;
}

/** GiftCardPopup styles */
.giftCard {
  min-width: 600px;
}

.giftCard .Wishlist {
  font-weight: bold;
}

.giftCard .Buttons .gwt-PushButton {
  margin: 0px auto;
}

/** ShopPanel styles */
.shop .Header {
  font-size: 18px;
}

.shop .Header, .shop .Name {
  font-family: Machine Bold, Helvetia, Arial, sans-serif;
  font-weight: bold;
}
