#
# $Id$
#
# Build configuration for the Everything app

# Used when testing with a local samsara installation
local_samsara_dir = /export/samsara

# Used to authenticate when developing with the GWT shell
gshell_username = USER
gshell_password = PASS
