#
# $Id$
#
# Everything app configuration

# Our Facebook app configuration
facebook_appname = everythinggame
facebook_appid = APP_ID
facebook_key = API_KEY
facebook_secret = APP_SECRET

candidate_facebook_appname = everythingcandidate
candidate_facebook_appid = APP_ID
candidate_facebook_key = API_KEY
candidate_facebook_secret = APP_SECRET

# Our Postgres database configuration
db.default.server = localhost
db.default.port = 5432
db.default.database = everything
db.default.username = everything
db.default.password = PASSWORD

db.readonly.maxconns = 1
db.readwrite.maxconns = 1

# Our S3 media store configuration
mediastore_id = S3ID
mediastore_key = S3KEY
mediastore_bucket = S3BUCKET

# The URL of our billing site
billing_url = https://billing.apps.threerings.net/billing/select_type.wm

# Kontagent configuration
kontagent_key = API_KEY
kontagent_secret = APP_SECRET
