#
# $Id$
#
# Everything app configuration

# Whether or not to version check RPC requests
rpc_version_checking = true

# Our Facebook app configuration
facebook_appid = APP_ID
facebook_key = API_KEY
facebook_secret = APP_SECRET

# Our Postgres database configuration
db.default.server = localhost
db.default.port = 5432
db.default.database = everything
db.default.username = everything
db.default.password = PASSWORD

db.readonly.maxconns = 1
db.readwrite.maxconns = 1

# Our S3 media store configuration
mediastore_id = S3ID
mediastore_key = S3KEY
mediastore_bucket = S3BUCKET
