/**
 * $Id$
 *
 * Our Flash UI style sheet. Abandon hope all ye who enter here.
 */

Application {
  backgroundColor: #b98c3b;
  backgroundGradientColors: #d7c39d, #403323;
  backgroundGradientAlphas: 0.83, 1;
  themeColor: #54a9da;
  color: #0b333c;
}
