//
// $Id$

package com.threerings.everything.data;

/**
 * Contains information on this build of the game.
 */
public class Build
{
    /** The version number assigned to this build. */
    public static String version () 
    {
	return "@build_version@";
    }

    /** The time at which this build was made. */
    public static String time () 
    {
        return "@build_time@";
    }

    /** Returns our Facebook API key. */
    public static String facebookKey (boolean candidate) 
    {
        return candidate ? "@candidate_facebook_key@" : "@facebook_key@";
    }

    /** Returns our billing URL. */
    public static String billingURL () 
    {
        return "@billing_url@";
    }
}
