//
// $Id$

package com.threerings.everything.data;

/**
 * Contains information on this build of the game.
 */
public class Build
{
    /** Enumerates our Facebook template ids. */
    public enum Template {
        GOT_CARD("@facebook_got_tmpl@"),
        WANT_CARD("@facebook_want_tmpl@"),
        GAVE_CARD("@facebook_gave_tmpl@");

        public final String id;

        Template (String id) {
            this.id = id;
        }
    };

    /** The version number assigned to this build. */
    public static String version ()
    {
	return "@build_version@";
    }

    /** The time at which this build was made. */
    public static String time ()
    {
        return "@build_time@";
    }

    /** Returns our Facebook API key. */
    public static String facebookKey (boolean candidate)
    {
        return candidate ? "@candidate_facebook_key@" : "@facebook_key@";
    }

    /** Returns our Kontagent API key. */
    public static String kontagentKey ()
    {
        return "@kontagent_key@";
    }

    /** Returns our billing URL. */
    public static String billingURL (String path)
    {
        return "@billing_url@" + path;
    }
}
