//
// $Id$

package com.threerings.everything.data;

/**
 * Contains information on this build of the game.
 */
public class Build
{
    /** The version number assigned to this build. */
    public static final String VERSION = "@build_version@";

    /** The time at which this build was made. */
    public static final String TIME = "@build_time@";
}
