/**
 * $Id$
 */

/** EditCatsPanel styles */
.editCats .Header, .editCats .Selected {
  font-weight: bold;
}

.editCats .Column .gwt-TextBox {
  margin: 5px 0px;
}

.editCats .FAQ {
  width: 200px;
}

/** EditSeriesPanel styles */
.editSeries .Header {
  font-size: 24px;
  font-weight: bold;
}

.editSeries .Editor .Edit {
  margin: -27px 0px 7px 5px;
  font-weight: bold;
  color: #990000;
}

.editSeries .Editor .tipLabel {
  text-align: center;
}

.editSeries .Editor .Wide .gwt-TextArea, .editSeries .Editor .Wide .gwt-TextBox {
  width: 500px;
}

.editFAQ {
  padding: 10px 15px;
}

.editFAQ .Header {
  font-size: 20px;
  margin-bottom: 10px;
}

.editFAQ blockquote {
  margin-left: 15px;
}
