/**
 * $Id$
 */

/** ImageUtil styles */
.imageBox {
  width: 250px;
  height: 300px;
  margin: 5px 15px;
}

.miniImageBox {
  width: 115px;
  height: 100px;
  margin: 5px 5px;
}

.miniImageBox .gwt-Image {
  max-width: 83px;
  max-height: 100px;
}

.miniImageBox .Shim {
  width: 83px;
  height: 100px;
}

.imageBox .gwt-Image, .miniImageBox .gwt-Image {
  display: block;
  border: 1px solid #442D17;
}

/** Trophy styles */
.Trophy {
  font-weight: bold;
  font-family: Helvetia, Arial, sans-serif;
}

/** CardView styles */
.cardView {
  width: 603px;
  height: 443px;
  font-size: 15px;
}

.cardViewTall {
  height: 493px;
}

.cardView .Left {
  width: 282px;
  padding: 0px 8px 0px 13px;
}
.cardView .Right {
  width: 295px;
  padding-right: 5px;
}

.cardView .Header {
  font-size: 20px;
  height: 30px;
}

.cardView .Status {
  height: 20px;
}
.cardView .Buttons {
  height: 46px;
  vertical-align: top;
}

.cardView .Header, .cardView .Title, .cardView .Position, .cardView .Metrics, .cardView .Status {
  text-align: center;
}

.cardView .Title {
  height: 28px;
  width: 100%;
}
.cardView .NormalTitle {
  font-size: 24px;
}
.cardView .LongTitle {
  font-size: 20px;
}
.cardView .ReallyLongTitle {
  font-size: 16px;
}

.cardView .Categories {
  width: 230px;
  height: 35px;
  font-weight: bold;
  display: table-cell;
  vertical-align: bottom;
}
.cardView .NormalCategories {
  font-size: 15px;
}
.cardView .LongCategories {
  font-size: 13px;
}

.cardView .Position {
  font-size: 12px;
  height: 16px;
}
.cardView .Metrics {
  font-size: 14px;
  height: 18px;
}

.cardView .Info {
  background: url(images/category/default.png) top center no-repeat;
  width: 290px;
  height: 347px;
  overflow: hidden;
  padding-right: 5px;
}

.cardView .Animals {
  background: url(images/category/animals.png) top center no-repeat;
}
.cardView .Music {
  background: url(images/category/music.png) top center no-repeat;
}
.cardView .Science {
  background: url(images/category/science.png) top center no-repeat;
}
.cardView .Entertainment {
  background: url(images/category/entertainment.png) top center no-repeat;
}
.cardView .Technology {
  background: url(images/category/technology.png) top center no-repeat;
}
.cardView .Religion {
  background: url(images/category/religion.png) top center no-repeat;
}

.cardView .FactsTitle {
  font-weight: bold;
  padding-top: 5px;
}

.cardView .Info ul {
  margin: 5px 0px;
  padding-left: 25px;
}

.cardView .When, .cardView .Giver, .cardView .Info {
  font-size: 15px;
}

.cardView .When, .cardView .Giver, .cardView .Source {
  font-style: italic;
}

.cardMessagePopup {
  z-index: 4;
  max-width: 550px;
}

.cardMessagePopup .Title {
  font-size: 18px;
}

.cardMessagePopup img {
  display: block;
}

/** Bonanza styles */
.bonanza {
  width: 403px;
  height: 443px;
  font-size: 15px;
  padding: 20px;
}

.bonanza .Title {
  font-size: 18px;
}

.bonanza .attractorPreview {
  border: 1px solid;
  background: #FFFFFF;
  padding: 5px;
}

/** Attractor (bonanza landing) */
.attractor .Title {
  font-size: 18px;
}

/** ThingCardView styles */
.thingCard {
  text-align: center;
  width: 125px;
  height: 150px;
  position: relative;
  padding: 2px 5px 5px 2px;
}

.thingCardFront {
  background: url(images/card_front.png);
}

.thingCardBack {
  background: url(images/card_back.png);
}

.thingCardGift {
  background: url(images/card_gift.png);
}

.thingCard .Name, .thingCard .Rarity {
  position: absolute;
  left: 2px;
  margin: 0px 10px;
  width: 105px;
  z-index: 2;
}

.thingCard .Name {
  top: 0px;
  height: 17px;
  padding-top: 4px;
}
.thingCard .NormalName {
  font-size: 14px;
}
.thingCard .LongName {
  font-size: 12px;
  line-height: 12px;
}

.thingCard .miniImageBox {
  position: absolute;
  left: 2px;
  top: 21px;
}

.thingCard .Rarity {
  top: 128px;
}

/** SlotView styles */
.slot {
  width: 132px;
  height: 157px;
  padding: 5px;
}

.slot .SlotStatus {
  width: 132px;
  padding-top: 70px;
  height: 82px;
  text-align: center;
}

/** LandingPage styles */
.landing {
  font-family: Times, Times New Roman, serif;
  background: url(images/page_news.png) no-repeat;
}

.landing .Title, .landing .Steps {
  font-size: 18px;
}

.landing .Bookmark {
  float: right;
}

.landing .CTA {
  font-size: 24px;
  border: 2px solid;
  padding: 10px;
  margin: 0px 220px;
}

.landing .Steps {
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
}

.landing .Arrow {
  font-size: 45px;
}

.landing .BigFlip {
  font-size: 24px;
  border: 2px solid;
  padding: 10px;
  margin: 0px 240px;
}

.landing .Text {
  margin: 5px 0px;
  font-family: Trebuchet MS, sans-serif;
}

/** BrowsePage styles */
.browse {
  background: url(images/page_browse.png) no-repeat;
}

.browse .Header {
  margin: 5px 0px;
}

.browse .Header .Padded {
  padding-right: 10px;
}

.browse .Header .Title {
  font-size: 16px;
  width: 390px;
}

.browse .Header .Links {
  font-size: 12px;
}

.browse .Codons {
  font-size: 13px;
  letter-spacing: -1px;
  margin-bottom: 3px;
}

.browse .Taxonomy {
  font-size: 16px;
}

.browse .Taxonomy .Leaf {
  width: 100%;
}

.browse .Taxonomy .Glyph {
  font-family: Apple Symbols, sans-serif;
  font-size: 13px;
  padding-right: 2px;
  vertical-align: 2px;
}

.browse .Taxonomy .Selected {
  font-weight: bold;
}

.browse .Taxonomy .Held {
  font-size: 14px;
  display: inline;
}

.browse .Taxonomy .gwt-Image {
  display: block;
  margin: 0px 4px;
}

/** FeedPanel styles */
.feed {
  font-family: Trebuchet MS, sans-serif;
}

.feed .Photoless {
  margin-bottom: 10px;
}

.feed .Action .When {
  font-style: italic;
  margin-bottom: 10px;
}

/** GridPage styles */
.flip {
  background: url(images/page_flip.png) no-repeat;
}

.flip .PreGrid {
  margin: 0px auto;
}

.flip .PreGrid .Title {
  font-size: 18px;
  text-align: center;
}

.flip .Info {
  margin: 0px auto;
}

.flip .Cards, .flip .Status {
  width: 568px;
  margin: 0px auto;
}

.flip .Cards {
  height: 668px;
}

.flip .Bold {
  font-weight: bold;
}

.flip .PupBox {
  padding-left: 20px;
}

.flip .Powerups {
  background: url(images/powerup/button_up.png);
  width: 201px;
  height: 50px;
  margin-left: auto;
}
.flip .Powerups-up-hovering {
  background: url(images/powerup/button_over.png);
}

.nsfPopup {
  max-width: 325px;
  text-align: center;
}

.nsfPopup .gwt-PushButton, .nsfPopup .wideButton {
  margin: 0px auto;
}

.powerMenu .Top {
  background: url(images/powerup/menu_top.png);
  width: 201px;
  height: 49px;
}

.powerMenu .Items {
  background: url(images/powerup/item_up.png);
  font-family: Machine Bold, Helvetia, Arial, sans-serif;
  width: 201px;
  font-size: 12px;
}

.powerMenu .Icon {
  padding: 2px 5px 0px 25px;
}

.powerMenu .Item {
  padding-top: 2px;
  height: 38px;
}

.powerMenu .Disabled {
  color: #999999;
}

.powerMenu .Charges {
  padding-right: 30px;
}

.powerMenu .Bottom {
  background: url(images/powerup/menu_bottom.png);
  width: 201px;
  height: 19px;
}

.powerPopup {
  z-index: 5;
}

/** SeriesPopup styles */
.series .Title {
  font-weight: bold;
}

.series .Creator {
  font-size: small;
}

/** CardPopup styles */
.card {
  background: none;
  border: none;
  padding: 0px;
}

.setCompletionPopup {
 z-index: 3;
}

/** GiftCardPopup styles */
.giftCard {
  min-width: 600px;
}

.giftCard .Wishlist {
  font-weight: bold;
}

.giftCard .Buttons {
  width: 100%;
}

.giftCard .Buttons .wideButton {
  margin: 0px 0px 0px auto;
}

.inviteCard {
  z-index: 5;
  border: 1px solid;
}

.inviteCard iframe {
  min-width: 606px;
  min-height: 475px;
  border: none;
}

/** ShopPage styles */
.shop {
  background: url(images/page_shop.png) no-repeat;
}

.shop .Header {
  font-size: 18px;
}

.shop .Header, .shop .Name {
  font-family: Machine Bold, Helvetia, Arial, sans-serif;
  font-weight: bold;
}

/** FriendsPage styles */
.friends {
  background: url(images/page_friends.png) no-repeat;
}

/** CreditsPage styles */
.credits {
  font-size: 16px;
}

.credits .Title {
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
}

.credits .Subtitle {
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.credits .Peeps {
  width: 525px;
  margin: 0px auto;
}

.credits .Long {
  font-size: 14px;
}

/** GetCoinsPage styles */
.getCoins iframe {
  width: 100%;
  height: 600px; /* TODO */
  border: none;
}

.getCoins {
  background: url(images/page_get_coins.png) no-repeat;
}

.getCoins .Header {
  font-size: 18px;
  text-align: center;
  margin: 10px 0px;
}

.getCoins .Methods, .getCoins .Prices {
  margin: 5px auto;
  width: 600px;
}

.getCoins .Prices td {
  text-align: center;
}
