//
// The Everything Game - slot machine plus encyclopedia equals educational fun!
// Copyright © 2010-2012 Three Rings Design, Inc.

package com.threerings.everything.data;

/**
 * Contains information on this build of the game.
 */
public class Build
{
    /** Are bonanzas enabled? */
    public static final boolean bonanzasEnabled () {
        return false;
    }

    /** The version number assigned to this build. */
    public static String version () {
        return "@build_version@";
    }

    /** The time at which this build was made. */
    public static String time () {
        return "@build_time@";
    }
}
