/**
 * $Id$
 */

/** Font definitions */
@font-face {
  font-family: "Handwriting";
  src: local("Josschrift"), url(josschrift.ttf);
}

@font-face {
  font-family: "Machine Bold";
  src: local("Copperplate Gothic Bold"), url(copper.ttf);
  font-weight: bold;
}

.machine {
  font-family: Machine Bold, Helvetia, Arial, sans-serif;
  font-weight: bold;
}

.handwriting {
  font-family: Handwriting, Trebuchet MS, serif;
  font-weight: normal;
}

/** Global page definitions. */
body {
  margin: 0px;
  border: none;
  padding: 0px;
  font-family: Helvetia, Arial, sans-serif;
  font-size: 14px;
}

body, body a {
  color: #442D17;
}

.infoLabel {
  font-size: 18px;
  padding: 25px;
}

.tipLabel {
  font-size: 12px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

/** FBML styles */
fb\:profile-pic img {
  border: 1px solid #442D17;
}

/** DataPopup styles */
.popup {
  padding: 5px;
  z-index: 5;
}

/** GWT styles */
.gwt-MenuBar-vertical {
  border: 1px solid;
  background: #FFFFFF;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background: #99CCFF;
}

.gwt-ConfirmPopup .popupContent {
  padding: 15px;
}

.gwt-ConfirmPopup, .infoPopup, .errorPopup {
  z-index: 10;
}

.gwt-PushButton, .wideButton {
  color: #442D17;
  height: 46px;
}
.gwt-PushButton .html-face, .wideButton .html-face {
  font-family: Machine Bold, Helvetia, Arial, sans-serif;
  font-size: 18px;
  padding: 11px 0px;
  text-align: center;
  cursor: pointer;
}
.gwt-PushButton-down-hovering .html-face, .wideButton-down-hovering .html-face {
  padding: 12px 0px 10px 2px;
}
.gwt-PushButton-up-disabled, .wideButton-up-disabled {
  color: #CCCCCC;
}

.gwt-PushButton {
  width: 81px;
}
.gwt-PushButton-up {
  background: url(images/button/up.png);
}
.gwt-PushButton-up-hovering {
  background: url(images/button/over.png);
}
.gwt-PushButton-down-hovering {
  background: url(images/button/down.png);
}
.gwt-PushButton-up-disabled {
  background: url(images/button/up.png);
}

.wideButton {
  width: 99px;
}
.wideButton-up {
  background: url(images/button/wide_up.png);
}
.wideButton-up-hovering {
  background: url(images/button/wide_over.png);
}
.wideButton-down-hovering {
  background: url(images/button/wide_down.png);
}
.wideButton-up-disabled {
  background: url(images/button/wide_up.png);
}

.smallButton, .smallWideButton {
  color: #442D17;
  height: 22px;
}
.smallButton .html-face, .smallWideButton .html-face {
  font-family: Machine Bold, Helvetia, Arial, sans-serif;
  font-size: 14px;
  padding: 2px 0px;
  text-align: center;
}
.smallButton-down-hovering .html-face, .smallWideButton-down-hovering .html-face {
  padding: 3px 0px 1px 2px;
}
.smallButton-up-disabled, .smallWideButton-up-disabled {
  color: #CCCCCC;
}

.smallButton {
  width: 50px;
}
.smallButton-up {
  background: url(images/button/small_up.png);
}
.smallButton-up-hovering {
  background: url(images/button/small_over.png);
}
.smallButton-down-hovering {
  background: url(images/button/small_down.png);
}
.smallButton-up-disabled {
  background: url(images/button/small_up.png);
}

.smallWideButton {
  width: 80px;
}
.smallWideButton-up {
  background: url(images/button/small_wide_up.png);
}
.smallWideButton-up-hovering {
  background: url(images/button/small_wide_over.png);
}
.smallWideButton-down-hovering {
  background: url(images/button/small_wide_down.png);
}
.smallWideButton-up-disabled {
  background: url(images/button/small_wide_up.png);
}

.popup, .gwt-ConfirmPopup, .infoPopup, .errorPopup {
  border: 1px solid #442D17;
  background: url(images/page_repeat.png) center;
}

/** HeaderPanel styles */
.header {
  width: 760px;
  height: 106px;
  background: url(images/header.png);
}

.header td {
  white-space: nowrap;
}
.header td, .header td a {
  color: #F1E369;
}

.header .Bits {
  width: 100%;
  font-size: 14px;
  padding: 15px 20px 0px;
}

.header .Links {
  font-size: 17px;
  margin: 0px auto;
}

/** Shared page styles */
.content {
  width: 760px;
  background: url(images/page_repeat.png) repeat-y;
}

.endcap .gwt-Image {
  display: block;
}

.page {
  padding: 5px 15px;
  min-height: 500px;
}

.page, .page a {
  color: #442D17;
}
